.textInput-container {
  margin: 5px 5px 5px 0;
  label {
    display: block;
    font-weight: 600;
    font-size: 0.75em;
  }
  input {
    height: 20px;
    border-color: rgb(253, 251, 251);
    border-top-style: outset;
    border-right-style: inset;
    border-bottom: 1px solid var(--clr-secondary);
    border-left-style: outset;
    padding: 4px;
    width: 100%;
  }
  p {
    font-size: 0.6em;
    color: red;
    margin-top: 3px;
  }
}
